{
  "jira": {
    "hostname": "",
    "username": "",
    "password": ""
  },
  "logging": {
    "version": 1,
    "loggers": {
      "blissey": {
        "level": "DEBUG",
        "handlers": ["stream", "file"]
      }
    },
    "formatters": {
      "simple": {
        "format": "%(asctime)s.%(msecs)03d [%(levelname)s] %(message)s",
        "datefmt": "%Y-%m-%d %H:%M:%S"
      }
    },
    "handlers": {
      "stream": {
        "class": "logging.StreamHandler",
        "level": "INFO",
        "formatter": "simple"
      },
      "file": {
        "class": "logging.handlers.TimedRotatingFileHandler",
        "level": "DEBUG",
        "filename": "/var/log/blissey/blissey.application.log",
        "when": "midnight",
        "encoding": "utf-8",
        "formatter": "simple"
      }
    }
  }
}